.navSlide1 {
  transform: translateY(-0%);
}

.navSlide2 {
  transform: translateY(-100%);
}

.navigation_icons {
  position: absolute;
  display: flex;
  height: 100vh;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 30px;
  color: white;
  font-size: 24px;
  z-index: 1000;
  text-align: left;
}

.nav_icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  gap: 20px;
}

.nav_icon span {
  font-weight: 400 !important;
  font-size: 14px;
}

.underline {
  text-decoration: none;
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

/* The basic stuff to make it work */
.contenedor {
  width: 100vw;
  height: 100vh;
  /* background: deeppink; */
  background-color: var(--color-primary-light);
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 100;
  color: white;
}

.contenedor form {
  box-sizing: border-box;
  text-align: center;
  padding: 22px;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  justify-content: center;
}

.contenedor form input {
  height: 0;
  margin: 12px 0;
  z-index: 1;
}

.contenedor form input:checked {
  outline: 0;
  border: 0;
}

.contenedor form input:before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid rgba(255, 255, 255, 0.81);
  border-radius: 11px;
  cursor: pointer;
  transition: all 0.25s linear;
}

.contenedor form input:checked:before {
  background-color: white;
}

.contenedor form input:after {
  content: "" attr(title) "";
  position: relative;
  left: 30px;
  opacity: 0;
  color: white;
  font-size: 9px;
  display: block;
  min-width: 80px;
  transition: all 0.25s linear;
}

.contenedor form input:checked:after {
  opacity: 1;
  left: 20px;
}

.contenedor form input:hover:after:not(label) {
  opacity: 1;
}

.contenedor form input:nth-of-type(1):checked~.labels label {
  transform: translateY(-0%);
}

.contenedor form input:nth-of-type(2):checked~.labels label {
  transform: translateY(-100%);
}

.contenedor form input:nth-of-type(3):checked~.labels label {
  transform: translateY(-200%);
}

.contenedor form input:nth-of-type(4):checked~.labels label {
  transform: translateY(-300%);
}

.contenedor form input:nth-of-type(5):checked~.labels label {
  transform: translateY(-400%);
}

.contenedor form .labels {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contenedor form .labels label {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #2B2B38; */
  background-color: var(--color-text-title);
  z-index: 0;
  transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
}

.contenedor form .labels label:nth-child(odd) {
  /* background-color: #F5004F; */
  background-color: var(--color-primary-light);
  color: white !important;
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 110px;
}

.content h1 {
  margin-bottom: 30px;
}

.content .block {
  width: inherit;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.5;
  margin: 42px 0;
  display: flex;
  justify-content: center;
}

.content .block span,
.content .block span i {
  margin: 0 42px;
}

.content .block span i {
  margin-bottom: 22px;
}

.content .block span i:before {
  font-size: 30px;
}

.Slide:nth-child(even) .content .block {
  color: #717171;
}

.Slide p {
  padding: 5px;
  font-weight: 200;
}

.Slide span {
  font-weight: bold;
}

.icon {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  font-size: 11px;
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.icon i {
  font-size: 22px;
}

.icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#Slide5 .content .block {
  flex-direction: column;
}

#Slide5 .content .block i {
  margin: 0 12px;
  vertical-align: middle;
}

.buttons_home {
  width: 15%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
}

.buttons_home button {
  background: var(--color-secundary-light);
  border: 0;
  color: var(--color-button-text);
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  transition: background 0.2s ease;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttons_home button:hover {
  cursor: pointer;
  background: #04b453;
}

.buttons_home input {
  display: none !important;
}

/* Animação de fade_in */
.fade_in {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
    /* Efeito opcional de deslizar */
  }

  100% {
    opacity: 1;
    transform: translateY(0);
    /* Retorna à posição original */
  }
}

/* Classe de ocultação para fade_out, se quiser uma transição de saída */
.fade_out {
  opacity: 1;
  animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(20px);
    /* Deslizar para fora */
  }
}

.hidden {
  display: none;
}

.logout_icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.icon {
  position: inherit;
}

.logout_icon span:hover {
  cursor: pointer;
}

.spinner-container-home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-text-title);
}

/* Slide de Progresso */

.content-progresso {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 40%;
  height: 100%;
  background-color: var(--color-background);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}

.card-header {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding: 20px;
}

.card-header h3 {
  color: var(--color-text-title);
}

.card-header p {
  color: var(--color-text-base);
}

.header-img {
  width: 100px;
  background-color: white;
  height: 100px;
  border-radius: 100px;
  margin-left: 30px;
}

.user_name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user_name p{
  font-weight: 300;
}

.progress-bar {
  width: 100%;
  height: 20%;
}

.levels {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.level-title {
  width: 100%;
  color: var(--color-text-complement);
  padding-bottom: 15px;
}

.levels_balls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.ball {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  color: white;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.ball_green{
  background-color: var(--color-secundary-light);
}

.ball_grey{
  background-color: grey;
}

.ball_purple{
  background-color: var(--color-text-title);
}

.card_button {
  width: 100%;
  margin-top: 20px;
}

.card_button input:nth-child(1) {
  display: none;
}

.card_button input {
  background: var(--color-secundary-light);
  border: 0;
  color: var(--color-button-text);
  width: 30%;
  padding: 5px;
  border-radius: 10px;
  height: 60% !important;
  transition: 0.2s;
}

.card_button input:hover {
  cursor: pointer;
  background-color: var(--color-secundary-dark);
}

.form-content input {
  display: block !important;
}

.btn_disabled{
  background-color: grey !important;
  cursor: default !important;
}

/* CSS DO MODAL */
.modalContainer {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
  color: #222222;
}

.modalContainer .modalBackground {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}

.modalContainer .modalBackground .modal {
  background: #fff;
  width: 50%;
  height: 65%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  font-weight: 300;
  position: relative;
  padding: 15px;
}

.modalContainer .modalBackground .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
  color: var(--color-text-title);
}

.modalContainer .modalBackground .modal p {
  font-size: 18px;
  line-height: 32px;
  color: var(--color-text-title);
  padding-bottom: 15px;
}

.modalContainer .modalBackground .modal span {
  color: #fff;
  padding: 10px;
  color: var(--color-text-title);
  font-size: 52px;
}

.modalContainer .modalBackground .modal p:first-child {
  font-weight: 500;
}

.modalContainer .modalBackground .modal p:last-child {
  font-weight: 200;
}

.modalContainer .modalBackground .modal strong {
  font-weight: 800;
  color: var(--color-text-title);
}

.modalContainer .modalBackground .modal .modalSvg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  display: none;
}

.modalContainer .modalBackground .modal .modalSvg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.modalContainer.active {
  transform: scaleY(0.01) scaleX(0);
  animation: unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modalContainer.active .modalBackground .modal {
  transform: scale(0);
  animation: zoomIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modalContainer.out {
  transform: scale(1);
  animation: unfoldOut 1s 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modalContainer.out .modalBackground .modal {
  animation: zoomOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.btn_modal {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.btn_modal button {
  background-color: (--color-text-in-primary);
  color: rgb(54, 54, 54);
  border: 0;
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  transition: background 0.2s ease;
  margin-top: 15px;
}

.btn_modal button:hover {
  background: #b1b1b1;
  cursor: pointer;
}

.btn_modal button:last-child {
  background-color: var(--color-primary-light);
  color: var(--color-button-text);
}

.btn_modal button:last-child:hover {
  background: var(--color-primary-dark);
  cursor: pointer;
}

@keyframes unfoldIn {
  0% {
    transform: scaleY(0.005) scaleX(0);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes unfoldOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  50% {
    transform: scaleY(0.005) scaleX(1);
  }

  100% {
    transform: scaleY(0.005) scaleX(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

/* CSS DO MODAL - FIM */

/* CSS DOS FOGOS - INICIO */
@keyframes firework {
  0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
  50% { width: 0.5vmin; opacity: 1; }
  100% { width: var(--finalSize); opacity: 0; }
}

.firework,
.firework::before,
.firework::after
{
  --initialSize: 0.5vmin;
  --finalSize: 45vmin;
  --particleSize: 0.2vmin;
  --color1: yellow;
  --color2: khaki;
  --color3: white;
  --color4: lime;
  --color5: gold;
  --color6: mediumseagreen;
  --y: -70vmin;
  --x: -50%;
  --initialY: 60vmin;
  content: "";
  animation: firework 2s infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, var(--y));
  width: var(--initialSize);
  aspect-ratio: 1;
  background: 
    /*
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
    */
    
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
    
    /* bottom right */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
    
    /* bottom left */
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
    
    /* top left */
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
    radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
    radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
    radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
    radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
    radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
    
    /* top right */
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
    radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
    ;
  background-size: var(--initialSize) var(--initialSize);
  background-repeat: no-repeat;
  z-index: 0;
}

.firework::before {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
  transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
  --x: -50%;
  --y: -50%;
  --initialY: -50%;
/*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
  transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
/*   animation: fireworkPseudo 2s infinite; */
}

.firework:nth-child(2) {
  --x: 30vmin;
}

.firework:nth-child(2),
.firework:nth-child(2)::before,
.firework:nth-child(2)::after {
  --color1: pink;
  --color2: violet;
  --color3: fuchsia;
  --color4: orchid;
  --color5: plum;
  --color6: lavender;  
  --finalSize: 40vmin;
  left: 30%;
  top: 60%;
  animation-delay: -0.25s;
}

.firework:nth-child(3) {
  --x: -30vmin;
  --y: -50vmin;
}

.firework:nth-child(3),
.firework:nth-child(3)::before,
.firework:nth-child(3)::after {
  --color1: cyan;
  --color2: lightcyan;
  --color3: lightblue;
  --color4: PaleTurquoise;
  --color5: SkyBlue;
  --color6: lavender;
  --finalSize: 35vmin;
  left: 70%;
  top: 60%;
  animation-delay: -0.4s;
}
/* CSS DOS FOGOS - FIM */

@media (max-width: 1440px) {
  .modalContainer .modalBackground .modal p {
    font-size: 16px;
  }

  .btn_modal button {
    font-size: 14px;
  }
}

@media (max-width: 1280px) {
  .modalContainer .modalBackground .modal p {
    font-size: 15px;
  }

  .btn_modal button {
    font-size: 13px;
  }
}